body {

  border: 10px solid #ccc;
  min-height: 100vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  word-spacing: 1px;
  box-sizing: border-box;

}

h1,
h2,
h3 {
 font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
 "Helvetica Neue", Arial, sans-serif;
 font-weight: normal;
}

button {
  border: 1px solid #ccc;
  background: black;
  padding: 10px 14px;
  cursor: pointer;
  color:white;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: 0.3s all ease;
  &:hover {
    background: #c14103;
    border: 1px solid black;
    color: white;
  }  
}


/*----------- Store Grid ------------*/

.storegrid {
  width: 95%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}
/* no grid support */
aside {
  float: left;
  width: 19.1489%;
}


.content {
  float: right;
  width: 79.7872%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 !important;
}




@media (min-width: 601px) and (max-width: 900px) {
  .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}